/**
 * 桌面端网站的一些通用样式
 */
.center {
  text-align: center;
}
.hidden {
  display: none;
}
/**
 * 专门负责缓动样式
 */
html,
body {
  color: #999999;
  padding-top: 40px;
}
.top-gap {
  margin-top: 30px;
}
a {
  color: #ca3131;
}
.admin-navbar {
  border-bottom: 1px solid #eaaaaa;
  background: white none repeat scroll 0 0;
  box-shadow: 0 0px 3px rgba(204, 51, 51, 0.5);
  -webkit-box-shadow: 0 0px 3px rgba(204, 51, 51, 0.5);
  -moz-box-shadow: 0 0px 3px rgba(204, 51, 51, 0.5);
}
.admin-navbar .active {
  background-color: transparent;
  border: 1px solid #ca3131;
  border-radius: 4px;
  font-weight: bold;
}
.admin-navbar .active-selected {
  background-color: #f9f9f9;
  color: #781d1d;
}
.admin-navbar .active-selected-with-border {
  border: 1px solid #781d1d;
  background-color: #f9f9f9;
  color: #781d1d;
}
.admin-navbar ul.admin-nav {
  padding: 15px;
}
.admin-navbar ul.admin-nav li {
  margin-right: 15px;
}
.admin-navbar ul.admin-nav li a {
  padding: 15px 20px;
}
.admin-navbar ul.admin-nav li a:not(.active):focus,
.admin-navbar ul.admin-nav li a:not(.active):hover {
  background-color: #ca3131;
  color: white;
  border-radius: 4px;
  -webkit-transition: background-color linear 0.5s;
  -moz-transition: background-color linear 0.5s;
  -ms-transition: background-color linear 0.5s;
  -o-transition: background-color linear 0.5s;
  transition: background-color linear 0.5s;
}
.admin-navbar ul.admin-nav li a.active:focus,
.admin-navbar ul.admin-nav li a.active:hover {
  border: 1px solid #781d1d;
  background-color: #f9f9f9;
  color: #781d1d;
  -webkit-transition: background-color linear 0.5s;
  -moz-transition: background-color linear 0.5s;
  -ms-transition: background-color linear 0.5s;
  -o-transition: background-color linear 0.5s;
  transition: background-color linear 0.5s;
}
.admin-navbar ul.admin-nav li ul.admin-dropdown-menu > li {
  margin: 0;
}
.admin-navbar ul.admin-nav li ul.admin-dropdown-menu > li > a {
  color: #ca3131;
}
.admin-navbar ul.admin-nav li ul.admin-dropdown-menu > li > a:focus,
.admin-navbar ul.admin-nav li ul.admin-dropdown-menu > li > a:hover {
  background-image: none;
  border-radius: 0;
  background-color: #f9f9f9;
  color: #781d1d;
}
@media (max-width: 767px) {
  .admin-navbar .admin-nav li {
    margin-bottom: 15px;
  }
}
.navbar-brand {
  height: auto;
}
.navbar-toggle {
  border: 1px solid #ca3131;
  margin-top: 23px;
}
.navbar-toggle .icon-bar {
  background: #ca3131 none repeat scroll 0 0;
}
.banner {
  margin-bottom: 40px;
  padding: 30px;
  background-color: #ca3131;
  background-image: linear-gradient(to bottom, #a12727 0px, #ca3131 100%);
  background-repeat: repeat-x;
  color: #e08181;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.banner h1 {
  color: #fff;
  margin-top: 0;
}
.banner p {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0;
}
.banner .container {
  position: relative;
}
@media (min-width: 768px) {
  .banner {
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .banner h1 {
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  .bs-docs-header h1,
  .bs-docs-header p {
    margin-right: 380px;
  }
}
.main-container {
  padding: 50px 0 40px;
}
.main-container h2 {
  text-align: center;
  font-size: 48px;
  padding: 10px 0 20px;
  margin-bottom: 40px;
  color: #808080;
}
.main-container .admin-grid {
  text-align: center;
  padding: 40px 30px 30px;
}
.main-container .admin-grid a.product-admin::before {
  content: url("/img/wd/admin/product_admin.png");
}
.main-container .admin-grid a.activity-admin::before {
  content: url("/img/wd/admin/activity_admin.png");
}
.main-container .admin-grid a p {
  padding: 5px 0 10px;
  color: #999999;
}
.main-container .admin-grid a p:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #d65858;
  margin-top: 10px;
}
.main-container .admin-grid a p:last-child {
  text-align: left;
}
.main-container .admin-grid a:hover,
.main-container .admin-grid a:active,
.main-container .admin-grid a:focus {
  text-decoration: none;
  color: #d65858;
  outline: none;
}
.main-container .admin-grid:hover {
  background-color: #ececec;
  border-radius: 4px;
  -webkit-transition: background-color linear 0.5s;
  -moz-transition: background-color linear 0.5s;
  -ms-transition: background-color linear 0.5s;
  -o-transition: background-color linear 0.5s;
  transition: background-color linear 0.5s;
}
.sub-admin-nav > li.active > a {
  color: #ca3131;
}
.sub-admin-nav > li.active > a:hover {
  color: #ca3131;
}
.sub-admin-nav > li > a {
  color: #999999;
}
.p-container {
  content: "";
  display: table;
}
.product-content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}
.product-content:before {
  content: "";
  display: table;
}
.product-content:after {
  content: "";
  display: table;
  clear: both;
}
.product-content .form-control {
  border-color: #e08181;
  color: #a12727;
}
.product-content .form-control::-moz-placeholder,
.product-content .form-control:-moz-placeholder,
.product-content .form-control::-webkit-input-placeholder,
.product-content .form-control:-ms-input-placeholder {
  color: #a12727;
}
.product-content .form-control:focus {
  border-color: #ca3131;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 51, 51, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 51, 51, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 51, 51, 0.6);
}
.product-content table {
  margin-top: 20px;
}
.product-content table thead {
  color: whitesmoke;
  background-color: #781d1d;
}
.product-content table tbody tr td {
  vertical-align: middle;
}
.product-content table tbody tr td img {
  width: 50px;
  height: 50px;
  margin: 0;
}
.product-content .page-info {
  border-top: 1px solid #dddddd;
  margin-top: -20px;
  padding: 15px;
  text-align: center;
}
.pagination {
  float: right;
}
.footer {
  margin-top: 100px;
  padding: 40px 0;
  color: #999999;
  text-align: center;
  border-top: 1px solid #dddddd;
}
.footer p:last-child {
  margin-bottom: 0;
}
