/*
    http://winless.org/
*/
.theme-m {
  -webkit-box-shadow: 2px 2px 6px gray;
  -moz-box-shadow: 2px 2px 6px gray;
  box-shadow: 2px 2px 6px gray;
}
/*====================================================Mason Start============================================================*/
/*登录页面底部的 注册|找回密码*/
.login-screen-title img {
  width: 30%;
}
.login-slogan {
  text-align: center;
  font-weight: normal;
  padding-top: 40px;
}
.copyright {
  position: relative;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 10px;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  color: #909090;
  font-size: 16px;
}
.copyright > a {
  display: inline-block;
  color: #909090;
}
.white-title {
  color: white;
}
i.icon.icon-blank {
  width: 29px;
  height: 29px;
}
.hidden {
  display: none;
}
.panel {
  background: #fdfdfd;
}
.panel-left-add > .content-block-title {
  background: #f2f2f2;
  margin: 0;
}
.panel-left-add > .content-block-title p {
  line-height: 80px;
  text-align: center;
}
.panel-left-add .list-block {
  margin: 0;
}
.panel-left-add .list-block input[type="text"] {
  font-size: 12px;
  font-weight: bold;
  color: #3395ff;
  text-align: center;
}
.panel-left-add .list-block input[type="submit"] {
  margin: 5px 0;
}
.panel-right-profile > .content-block {
  margin-top: 0;
}
.panel-right-profile > .content-block .content-block-inner {
  background: #f2f2f2;
}
.panel-right-profile > .content-block .content-block-inner div.avatar {
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.panel-right-profile > .content-block .content-block-inner div.avatar img {
  width: 100%;
}
.panel-right-profile > .content-block .content-block-inner p {
  text-align: center;
}
.panel-right-profile .links {
  margin: 10px auto;
  text-align: center;
}
.panel-right-profile .links ul li {
  height: 2em;
  list-style-type: none;
  margin-left: -40px;
  overflow: hidden;
  padding: 1em 0;
}
.panel-right-profile .links ul a {
  display: block;
  color: #3395ff;
  font-weight: bold;
  height: 2em;
  width: 260px;
  font: lighter 2em/1em "微软雅黑";
  text-decoration: none;
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  -ms-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
.panel-right-profile .links ul a:nth-of-type(even) {
  color: white;
  background-color: #3395ff;
  padding-top: 0.2em;
}
.panel-right-profile .links ul li:hover :first-child {
  margin-top: -2em;
}
.item-media span {
  padding-top: 5px;
}
.item-media span i {
  font-size: 1.3em;
  color: #808080;
}
.avatar-container {
  margin: 0;
}
.avatar-container .content-block-inner {
  padding-top: 20px;
  background-color: #f2f2f2;
}
.avatar-container .content-block-inner .avatar {
  text-align: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.avatar-container .content-block-inner .avatar img {
  width: 100%;
}
.avatar-container .content-block-inner p {
  text-align: center;
}
/*====================================================Mason End============================================================*/
