@import "theme";

@red-txt-color: #CC3333;
@default-opacity: 0.3;

.red-background-color {
  .background-color(@red-txt-color);
}

// 全局样式
.theme-wd {
  .theme-m;
  a {
    color: @red-txt-color;
  }
}

// 整个页面的标题
.wd-title {
  .app-title(whitesmoke);
}

// 顶部navibar

.navbar {

  .red-background-color;

  .center {
    line-height: normal;
  }

  &::after {
    height: 0;
  }

  a.icon-only {
      color: whitesmoke;
  }
}

.app-icon-container {

  border: 1px solid whitesmoke;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .app-icon,
  .app-icon-txt {
    padding-right: 5px;
  }
}

// 左侧面板
.p-category-list {

  .list-block {

    .item-after {
      .normal-font;
    }
    
    .item-text {
      .normal-font;
      height: auto;
      line-height: normal;
    }
  }
}

// 右侧面板
.logo-panel {
  .content-block {

    margin: 0;

    .content-block-inner {
      background: #f7f7f8 none repeat scroll 0 0;
      color: #000;
      padding: 40px 15px;

      .logo {
        border: 1px solid @red-txt-color;
        border-radius: 65px;
        height: 130px;
        margin: 0 auto;
        overflow: hidden;
        width: 130px;
      }

      .code-img-container {
        padding: 0;
      }
    }
  }
}

// 顶部的图片展示区
.swiper-slide {
  //background: #fff;
  //box-sizing: border-box;
  //border: 1px solid #ccc;

  .img-banner {
    width: 100%;
    height: 100%;
  }

  span {
    text-align:center;
    display:block;
    margin: 20px;
    font-size:21px;
  }
}

.swiper-container {
  height: 150px;
}

.swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: @red-txt-color none repeat scroll 0 0;
}

// 搜索栏
.searchbar {
  background: @red-txt-color none repeat scroll 0 0;
  opacity: @default-opacity * 2;

  &::after {
    background-color: @red-txt-color;
  }

  input[type="search"] {
    color: #cc3333;
  }
}

// 中部的产品内容部分

.card {
  box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
}

.card-footer {

  &::before {
    background-color: @red-txt-color;
    opacity: @default-opacity;
  }
}

.wd-card-header-pic {
  .card-header {
    height: 60vw;
    background-size: cover;
    background-position: center;
    
    span {
      font-size: 1.5em;
      font-weight: bold;
      //方向顺序为右下左上
      text-shadow: @red-txt-color 1px 0 0,
                   @red-txt-color 0 1px 0,
                   @red-txt-color -1px 0 0,
                   @red-txt-color 0 -1px 0;
      -webkit-text-shadow: @red-txt-color 1px 0 0,
                           @red-txt-color 0 1px 0,
                            @red-txt-color -1px 0 0,
                            @red-txt-color 0 -1px 0;
      -moz-text-shadow: @red-txt-color 1px 0 0,
                        @red-txt-color 0 1px 0,
                        @red-txt-color -1px 0 0,
                        @red-txt-color 0 -1px 0;
      *filter: Glow(@red-txt-color, 2);
    }
  }
}