@import "theme";

@red-txt-color: #ff3b30;

.red-background-color {
  .background-color(@red-txt-color);
}

// 整个页面的标题
.wd-title {
  .app-title(whitesmoke);
}

// 顶部navibar

.navbar {

  .red-background-color;

  .center {
    line-height: normal;
  }

  &::after {
    height: 0;
  }

  a.icon-only {
      color: whitesmoke;
  }
}

.app-icon-container {

  border: 1px solid whitesmoke;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  .app-icon,
  .app-icon-txt {
    padding-right: 5px;
  }
}

// 左侧面板
.p-category-list {

  .list-block {

    .item-after {
      .normal-font;
    }
    
    .item-text {
      .normal-font;
      height: auto;
      line-height: normal;
    }
  }
}

// 右侧面板
.logo-panel {
  .content-block {

    margin: 0;

    .content-block-inner {
      background: #f7f7f8 none repeat scroll 0 0;
      color: #000;
      padding: 40px 15px;

      .logo {
        border: 1px solid red;
        border-radius: 65px;
        height: 130px;
        margin: 0 auto;
        overflow: hidden;
        width: 130px;
      }

      .code-img-container {
        padding: 0;
      }
    }
  }
}

// 顶部的图片展示区
.swiper-slide {
  //background: #fff;
  //box-sizing: border-box;
  //border: 1px solid #ccc;

  .img-banner {
    width: 100%;
    height: 100%;
  }

  span {
    text-align:center;
    display:block;
    margin: 20px;
    font-size:21px;
  }
}

.swiper-container {
  height: 150px;
}

.swiper-pagination-bullet {
  cursor: pointer;
}

// 中部的产品内容部分
.wd-card-header-pic {
  .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
}

// 貌似没用了。。。
.footer {
  padding: 10px 0px 2px;
  background-color: #f5f5f5;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: .2em;
  p {
    margin: 0;
    border: 1px solid #dddddd;

    a {
      color: @default-text-color;
    }
  }
}